<ion-view view-title="Election">
  <ion-content>
   	<div style = "overflow: hidden; background: url(img/material1.jpg); background-size: 100% auto;" class = "side-jumbo">
	    <center><img style = "margin-top:30px; margin-bottom:30px; width:120px; border-radius: 250px; height:120px"src="img/result.png"></center>
    </div>

	<form ng-submit="vote()">
   			
	   		<div class="list padding">
	   			<ion-list>

					<ion-radio ng-repeat="aspirant in aspirants" ng-model="choice.pos" ng-value="'{{aspirant.election_id}}'">{{aspirant.name}}</ion-radio>
				</ion-list>

				<label class="item padding-top">
					<button style = "border-radius: 30px;" class=" button button-raised button-block button-calm" type="submit">Vote</button>
				</label>
			</div>
   		</form>
  </ion-content>
</ion-view>
