
<ion-view view-title = "Forgot Password">
	<ion-nav-bar class="bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>

	<ion-content scroll="false" class="stable-bg"><!-- style="background: url(img/login.jpg) center; background-size: cover;">-->
		<center><img src="img/logo.jpg" style  = "width:120px; height:auto; margin-top:70px"></center>
		
	    
		<form class="card" ng-submit="doForget()" novalidate>
		  	<div class="list padding">			   
				<label class="item item-input item-floating-label">
					<span class="input-label">Matric Number</span>
					<input type="text" ng-model = "forgotData.matric" placeholder="Enter Matric Number" required>
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Email</span>
					<input type="email" ng-model = "forgotData.emai" placeholder="Enter Email" required>
				</label>
				<label class="item padding-top">
					<button style = "border-radius: 30px;" class="button button-raised button-block button-balanced" type="submit">Resend Password</button>
				</label>
			</div>
		</form>

		
		
	</ion-content>
</ion-view>