<ion-view view-title = "Profile">
	<ion-content class="stable-bg">
		<div style = "overflow: hidden; background: url(img/material1.jpg); background-size: 100% auto;" class = "side-jumbo">
	        <center><img style = "margin-top:30px; margin-bottom:30px; width:120px; border-radius: 250px; height:120px"src="img/avatar.png"></center>
      	</div>

<!--
      	<div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.dash" class="tab-item">
                <i class="icon ion-edit"></i> Edit
            </a>
            
        </div>

-->
      	
      	
		<!--<img class="full-image" style = "width:100%; height:auto" src="img/avatar.png">-->
		<div class = "card list">
			<div class="item item-divider item-balanced">PERSONAL DETAILS</div>
			<div href="#" class="item item-icon-left">
			    <i style = "" class="icon ion-person"></i>
			    {{fname}}
			</div>

			<div href="#" class="item item-icon-left">
			    <i class="icon ion-ios-telephone"></i>
			    {{matric}}
			</div>

			<div href="#" class="item item-icon-left">
			    <i class="icon ion-ios-email"></i>
			    {{email}}
			</div>

	    </div>
	    
	    <br>
	</ion-content>
</ion-view>